body {
  color: rgb(22, 20, 20);
  padding: 40px;
  font-family: Helvetica, sans-serif;
  text-align: left;
}
.button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  border: 5px solid #000;
  border-radius: 10px;
}
